name: comparador_cfdis
description: Aplicación para comparar CFDIs.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  xml: ^6.3.0
  file_picker: ^5.3.0
  path: ^1.8.3
  flutter_bloc: ^8.1.3
  equatable: ^2.0.5
  provider: ^6.0.5
  open_file: ^3.3.2  # Añadir esta dependencia para abrir archivos nativamente

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  plugin:
    platforms:
      windows:
        pluginClass: none